<footer class="footer">
    <div class="content has-text-centered">
        <div>
            <h1>Azzam Blog</h1>
            <div class="social-media">
                <ul>
                    <li><a href="https://twitter.com/cyber_az1" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a></li>
                    <li><a href="https://github.com/azzam911" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a></li>
                    <li><a href="mailto:azzam.h.alkhaldi@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                    </a></li>
                    
                </ul>

            </div>
        </div>
        <p>Copyrights &copy {% now "Y" %} Azzam Blog. Desined By Azzam Alkhaldi </p>
    </div>
    
</footer>